body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

#Difficulty {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.7rem;
  margin:  5%;
  color: #FEF2BF;
}
#prevbest {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.dbtn {
  margin: 25px;
  display: inline-block;
  height: 100px;
  width: 200px;
  border: 10px solid black;
  background-color: gray;
}

.diff {
  color: #FEF2BF;
  position: relative;
  top: 30px;
}
.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#start {
  background-color: gray;
}

h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #FEF2BF;
  margin: auto;
  position: relative;
  top: 10px;
  text-shadow: 2px 2px 5px black;

}
